# Enable DHCPv4 and DHCPv6 on all physical ethernet links

[Match]
Kind=!*
Type=ether


[Network]
DHCP=yes
# Allow MulticastDNS
MulticastDNS=true
# Use DNSSEC if available
DNSSEC=allow-downgrade


[Route]
# Go faster by default, multiple of the MSS (1460 bytes). 10 by default. Set to 10 on slow networks.
InitialCongestionWindow=50
InitialAdvertisedReceiveWindow=50
